.About {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .col {
    flex-basis: calc(50% - 10px); /* Adjust the width as needed */
    margin: 15px;
    box-sizing: border-box;
    text-align: left;
  }
  
  #pic-col {
    flex-basis: 400px; /* Set a minimum width of 300 pixels for the image column */
    order: 2; /* Change the order to place it below the text column on smaller screens */
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 600px) {
    .col {
      flex-basis: 100%; /* Make both columns take up 100% width on smaller screens */
    }
    
    #pic-col {
      order: 1; /* Revert the order to place the image column above the text column on smaller screens */
    }
  }
  