.projects {
    display: flex;
    flex-direction: column; /* Display projects in a single column */
    align-items: center; /* Center projects horizontally */
    width: 80%;
    max-width: 1400px; /* Limit the maximum width of projects */
    margin: 0 auto; /* Center projects horizontally */
}

.project {
    display: flex;
    flex-direction: row; /* Display project image and info side by side */
    align-items: center; /* Center items vertically */
    margin-bottom: 20px; /* Add space between projects */
    gap: 20px;
}

.proj-image {
    border-radius: 10px; /* Round corners of the image */
    margin-right: 20px; /* Add space between image and info */
    max-width: 45%; /* Limit image width */
}

.proj-info {
    flex: 1; /* Take remaining space */
    align-self: flex-start; /* Align project info to the start vertically */
}

.proj-title {
    font-size: 1.2rem; /* Slightly larger text size for the title */
    margin-bottom: 10px;
}

.proj-status {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem; /* Adjust the font size for the status */
}

@media (max-width: 1100px) {
    .project {
        flex-direction: column; /* Display project elements in a column on mobile */
        align-items: center; /* Center items horizontally */
    }

    .proj-image {
        margin-right: 0; /* Remove margin for mobile */
        margin-bottom: 10px; /* Add space between image and info on mobile */
        max-width: 100%; /* Allow image to take full width on mobile */
    }
}
