.Connect {
    width: 100%;
    height: auto;
    text-align: center;
}

.connect-icons {
    /* margin-top: 100px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%; */
}

a {
    color: white;
}
