.Connect {
    width: 100%;
    height: auto;
    text-align: center;
}

.connect-icons {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    padding-left: 20%;
    padding-right: 20%;

    .icon {
        width: 60%;
        min-width: 70px;
    }
}

a {
    color: white;
}
